@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Path: resources/css/app.css */

/* Tailwind CSS v2.0+ */


.body {
    font-family: 'Inter', sans-serif;
}

.pages {
    @apply w-40 h-20 rounded-sm flex items-center justify-center hover:bg-white hover:text-black transition-all duration-150 ease-in
}

.navbar {
    @apply bg-black text-white h-20 flex items-center justify-center 
}

.table-sm {
    @apply mt-4 w-[720px]
}

.table-lg {
    @apply mt-4 w-[1024px]
}

.table-head {
    @apply px-4 py-2 bg-black text-white
}


/* Path: resources/css/app.css */



.navb{
    background-color: #e7e7e7;
}

.navb ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navb ul li{
    list-style: none;
    margin: 0 0.5rem;
    justify-content: center;
    align-items: center;
}

.navb ul li a{
    text-decoration: none;
    color: #4f4f4f;
    height: 60px;
    font-weight: 700px;
    background-color: transparent;
}


.navb ul li a:hover{
    color: black;
    background-color:#f6f6f6 ;
    font-weight: bold;
}


.selct_op{ 
    display: block;
    width: 100%; /* Make each select element take the full width */
    margin-bottom: 10px; /* Adjust spacing between selects */
    height: 80px;
}
